<div class="card ">
	<div class="card-header  bg-success text-white">
		<h3>New Artical</h3>
	</div>
	<div class="card-body">
		<%= render 'form', artical: @artical %>
	</div>
	<div class="action card-footer">
		<%= link_to 'Back', articals_path , class:"btn btn-info text-white" %>
	</div>
</div>


